# ASP.NET Core (.NET Framework)

# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  MSBUILDSINGLELOADCONTEXT: '1'
 
steps:
- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: '**/*.sln'
    feedsToUse: 'select'

- task: NuGetToolInstaller@1
  inputs:
    versionSpec: 5.8
- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'
    
        
- task: VSBuild@1
  inputs:
    solution: '**\*.sln'
    vsVersion: '16.0'
    restoreNugetPackages: true
    arguments: '-c Release'
    

#- task: DotNetCoreCLI@2
#  inputs:
#    command: 'build'
#    arguments: '-c Release'

#- task: VisualStudioTestPlatformInstaller@1
#  inputs:
#    packageFeedSelector: 'nugetOrg'
#    versionSelector: 'latestPreRelease'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    
#- task: DotNetCoreCLI@2
#  inputs:
#    command: 'publish'
#    publishWebProjects: true
#    arguments: '(Build.ArtifactStagingDirectory)'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
   
